<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <style>

        body {
            background-color: beige;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            height: 80vh;
        }

        .form-heading {
            text-align: center;
        }


        input[type=text] {
            padding: 12px 20px;
            margin-bottom: 10px;
            font-size: medium;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            outline: none;
        }

        input[type=text]:focus {
            border: 1px solid #1877f2;
        }

        input[type=submit] {
            padding: 4px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            background-color: #1877f2;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
        }

        input[type=submit]:hover {
            cursor: pointer;
        }

        form {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            overflow: hidden;

        }
        .form-container {
            background-color: white;
            padding: 30px;
            border: none;
            border-radius: 6px;
            box-shadow: 0 5px 8px 0 grey;

        }
    </style>
</head>
<body>
    <div class="form-container">
        <form action="/scrape" method="post">
                <input type="text" name="url" id="url" placeholder="enter url">
                <input type="text" name="selector" id="seletor" placeholder="enter selector to locate">
                
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>